.coctailsContent {
  //   background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  height: auto;
  flex-direction: column;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.coctailsContainer {
  // background-color: rgb(42, 48, 47);
}
