.coctailsContent {
  //   background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  height: auto;
  flex-direction: column;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
}
.coctailsContainer {
  //   background-color: rgb(42, 48, 47);
}

.coctailsList {
  max-width: 1200px;
  border: 1px solid rosybrown;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}
